.demo1{
	min-width: 1280px;
}
*{
	padding: 0; margin: 0;
	font-family:"微软雅黑";
}
#head{
	width: 100%;
	height: 59px;
	background: white;
	border-bottom: 1px solid #E6E6E6;
	position: fixed;
	z-index: 100;
}
.logo{
	margin-left: 60px;
	height: 59px;
	float: left;
}
.logo span{
	display: inline-block;
	margin-left: 10px;
	font-size: 22px;
	line-height: 59px;/*虽然文字相对于本身容器已经垂直居中了，但是对父容器还未垂直居中*/
	vertical-align: top;/*将span移动到上方*/
}
div.nav{
	float: right;
	margin-right: 60px;
	font-size: 0; /*取消因空白字符造成的间隙*/
}
.nav li{
	list-style: none;
	display: inline-block;
	text-align: center;
	height: 55px;
	line-height: 55px;
	border-bottom: 4px solid #fff;
}
.nav a {
	text-decoration: none;
	display: inline-block;
	height: 55px;
	padding:0 20px;
	font-size: 14px;
}
.nav ul>li:nth-child(6){
	background-image: url("images/header_2.jpg");
	background-repeat: no-repeat;
	background-position: 4px 4px;
}
.nav a:link, .nav a:visited{
	color: #787b83;
}
li.active{
	color: #E53C3C;
	border-bottom: 4px solid #E53C3C;
}
.nav a:hover,.nav a:active{
	color: #E53C3C;
	border-bottom: 4px solid #E53C3C;
}
.nav ul>li:nth-child(6) a:link, .nav ul>li:nth-child(6) a:visited{
	color: #E53C3C;
}

.banner_intro{
	background-image:url("images/section_1.jpg");
	background-repeat: no-repeat;
	height: 700px;
	background-size: cover;
}
.banner_intro h1{
	padding: 250px 0 0 100px;
	color: white;
	font-size: 50px;
}
.banner_intro span{
	padding-left: 100px;
	padding-top: 10px;
	display: inline-block;
	width: 260px;
	color: white;
	font-size: 20px;
	line-height: 1.5;
	font-weight: bold;
}
.banner_intro button{
	border: none;
	width: 300px;
	height: 60px;
	color: white;
	background: #E53C3C;
	font-size: 24px;
	display: block;
	margin-left: 100px;
	margin-top: 50px;
	cursor: pointer;
}
.banner_intro button:hover{
	background: white;
	border: 2px solid #E53C3C;
	color: #E53C3C;
}

.banner_spec{
	background: #fff;
	height: 230px;
}

.banner_spec li{
	width: 25%;
	padding: 65px 0;
	display: block;
	float: left;
	margin: 0 auto;
}
.banner_spec li img{
	display: block;
	margin: 0 auto;
}
.banner_spec p{
	display: inline-block;
	margin-top: 25px;
}

.banner_spec div{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	border-right: 1px solid black; 
	text-align: center;
	margin-left: -3px;
	 /*因为多给了3个px边框，所以再给它左负边距，撑大*/
} 
div.banner_spec_border{
	border:none;
}
.banner_spec span{
	display: inline-block;
	height: 50px;
	width: 200px;
	margin: 0 auto;
}
.banner_more{
	background: #f7f7f7;
	width: 100%;
}
.banner_more_cont{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 100px;
}
.banner_more img{
	display: inline-block;
	margin-bottom:60px;
}
.banner_more h3{
	font-size: 36px;
}

.banner_choice_bg{
	background-image: url("images/map.jpg");
	background-repeat: no-repeat;
	height: 341px;
	background-size: cover; 	
}
.banner_search{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0;
}
hr{
	width: 50px;
	margin:10px auto;

}
.banner_search h3{
	color: white;
	font-size: 24px;
}
.banner_search p{
	color: white;
	margin: 20px 0 50px;
}
.banner_search .form{
	position: relative;
}
.banner_search ul{
	display: none;
	list-style: none;
	position: absolute;
	left: 366px;
	top: 35px;
	font-size: 0;
	background: #e3e3e4;
	color: #4f5152;
	border: 1px solid #be4e48;

}
.banner_search ul li{
	width: 190px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	padding-left: 30px;
	text-align: left;
}
.banner_search li:hover{
	background-color: #be4e48;
	background-image: url("images/swosh.png");
	background-repeat: no-repeat;
	background-position: 10px;
}
.banner_search .sel{
	background-image: url("images/red-arrow.png");
	background-repeat: no-repeat;
	background-position: 190px;
	display: inline-block;
	width: 220px;
	height: 35px;
	border: none;
	margin-right: 20px;
	border: 1px solid #be4e48;
}
.banner_search .sub{
	display: inline-block;
	width: 220px;
	height: 35px;
	background-color: #E53C3C;
	border: none;
	color: white;
	border: 1px solid #be4e48;
}
.banner_active{
	width: 940px;
	margin: 70px auto; 
}

.banner_active_box{
	height: 450px;
	margin-right: -20px;
	text-align: center;
	padding-top: 10px;
}
._active_box_con{
	width: 220px;
	float: left;
	margin-right: 20px;
}
.active_play{
	width: 218px;
	height: 320px;
	margin-right: 20px;
	float: left;
	border: 1px solid #999;
	text-align: center;
	padding-top:10px;
	background: #fff;
	margin-bottom: 10px;
}
.active_play img{
	display: inline-block;
	margin: 0 auto;
}

._active_box_con h4{
	font-size: 14px;
	margin-bottom: 5px;
}
h4.play_now{
	font-size: 24px;
	letter-spacing:23px;
}
._active_box_con p{
	font-size: 12px;
	color: #7f7773;
}
.new_display{
	width: 100%;
	overflow: hidden;
	background: #fff;
}
.new_display .bg{
	background: url("images/middle-left.jpg") no-repeat 0 0;
	background-size: cover;
	height: 566px;
	width: 68%;
	text-align: center;
	float: left;
	color: white;
	position: relative;
}
.new_display .bg h3{
	margin-top: 150px;
	font-size: 60px;
	font-weight:400;
	font-family: 'Microsoft YaHei';
}

.new_display .bg h1{
	font-size: 160px;
	line-height: 120px;
	font-weight:500;
	margin-bottom: 10px;
}
.new_display .bg p{
	padding: 15px;
	font-size: 30px;
}

.new_display_more{
	float: right;
	width: 32%;
	margin: 200px 0 0 0;
	text-align: center;
}
.new_display_more p{
	width: 300px;
	text-indent: 2em;
	text-align: left;
	margin:0 auto;
	padding: 20px 0 40px 0;
}
.new_display_more span{
	color:#BE4F48;
	font-size: 26px;
}
.new_display_click{
	width: 120px;
	height: 40px;
}
.whiteclick{
	border: 1px solid #BE4F48;
	color: #BE4F48;
	background: #fff;
}
.whiteclick:hover{
	cursor: pointer;
	background-color: #BE4F48;
	color: #fff;
}
.three-angle{
	border-bottom:40px solid transparent;
	border-top: 40px solid transparent;
	border-right: 40px solid white;
	position: absolute;
	right: 0;
	top: 40%;
}
.circle {
margin-top: 20px;
}
.circle a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #999;
}
.circle .active {
    background-color: #999;
    cursor: default;
}
.new_centery{
	width: 100%;
}
.centery1,.centery2{
	width: 34%;
	height: 500px;
	float: left;
	text-align: center;
}
.centery1{
	background: #E84E4C;
}
.centery2{
	background: white;
}
.centery1>p,.centery2>p{
	padding-top: 200px;
	line-height: 40px;
	font-size: 22px;
}
.centery1>p{
	color: white;
}
.btn1{
	width: 140px;
	height: 40px;
	background: #E84E4C;
	border: 1px solid white;
	color: white;
}
.btn1:hover{
	background: white;
	color: #E84E4C;
}
.btn2{
	width: 140px;
	height: 40px;
	background: white;
}
.centery3{
	background: url("images/train.png") no-repeat 0 0;
	opacity: 0.7;
	background-size: cover;
	height: 500px;
	width: 32%;
	float: left;
	position: relative;
}
.centery3 .three-angle2{
	position: absolute;
	border-bottom:40px solid transparent;
	border-top: 40px solid transparent;
	border-left: 40px solid white;
	top: 50%;
}
.campus{
	clear: both;
	background: white;
}
.campus_box{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.campus_intro{
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
}
.campus_intro h3{
	font-size: 22px;
	font-weight: 500;
}
.campus_intro p{
	width: 600px;
	height: 100px;
	margin: 0 auto;
	color: #999;
	font-size: 14px;
	padding-top: 20px;
}
.campus_submit_left{
	padding-left: 20px;
	width: 30%;
	height: 500px;
	float: left;
}
.protocol{
	margin-bottom: 50px;
}
.protocol h4{
	margin-bottom: 20px;
}
.protocol p{
	font-size: 14px;
	color: #999;
}
.protocol span{
	text-align: right;	
	float: right;
	color: #999;
}
.campus_submit_right{
	width: 600px;
	height: 500px;
	float: right;
	margin-left: -20px;	
}
.campus_submit_right input{
	width: 260px;
	padding: 15px 10px;
	float: left;
	border: none;
	background: #ccc;
	margin-right: 20px;
	margin-bottom: 20px;
}
#text{
	width: 560px;
	height: 100px;
	resize:none; 
	border: none;
	background: #ccc;
	font-size: 16px;
	white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px;
    overflow: hidden;
	}
.campus_submit_right .submit{
	width: 580px;
	height: 50px;
	border: none;
	margin-top: 18px;
	background:#ccc;
}
#foot{
	width: 100%;
	background: #33363F;
	height: 420px;
	color: white;
	margin: 0 auto;
}
.contactus{
	width: 720px;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
}
.contactus p{
	padding: 50px;
}
.contactus .write{
	width: 500px;
	height: 50px;
	padding-left: 10px;
	border: none;
	font-size: 15px; /*很奇怪，给他们两个字体改变下间隙就没了 */
}
.contactus .submit{
	height: 50px;
	width: 100px;
	border: none;
	font-size: 15px;
}
.contactus ul{
	display: inline-block;
	padding: 20px;
}
.contactus ul li{
	display: inline-block;
	width: 30px;
	height: 50px;
	margin-right: 30px;
	
}
li.qq{
	background: url(images/foot-logo.png) no-repeat 0px 0;
}
li.weibo{
	background: url(images/foot-logo.png) no-repeat -35px 0;
}
li.twitter{
	background: url(images/foot-logo.png) no-repeat -80px 0;
}
li.web{
	background: url(images/foot-logo.png) no-repeat -120px 0;
}
.floor{
	height: 50px;
	background: #30303A;
	line-height: 50px;
}
.floor span{
	display: inline-block;
	width: 200px;
	text-align: center;
}
.floor .totop{
	float: right;
}
.floor .at{
	float: left;
}